# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.opensdf
*.suo
*.sdf
*.VC.db

ipch/
Bin/
Lib/
Temp/
xcuserdata/

*.user
*.opendb
*.suo
Test/PlayGround/Build/VS2013/PlayGround.v12.suo
*.suo
*.suo
*.suo
Test/PlayGround/Build/VS2013/test.log
*.db
